.migwsk-label{
    -fx-background-color: #646464, #c0c0c0, #ececec;
    -fx-background-insets: 4, 5, 6;
}

.migwsk-button {
    -fx-background-color: #707070,
    linear-gradient(#fcfcfc, #f3f3f3),
    linear-gradient(#f2f2f2 0%, #ebebeb 49%, #dddddd 50%, #cfcfcf 100%);
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 3, 2, 1;
}

.migwsk-button:armed {
    -fx-background-color: #646464,
    linear-gradient(#e2e2e2, #dadada),
    linear-gradient(#d9d9d9 0%, #d3d3d3 49%, #c6c6c6 50%, #bababa 100%);
}

.migwsk-button:accent {
    -fx-background-color: #3c7fb1,
    linear-gradient(#fafdfe, #e8f5fc),
    linear-gradient(#eaf6fd 0%, #d9f0fc 49%, #bee6fd 50%, #a7d9f5 100%);
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 3, 2, 1;
}

.migwsk-button:accent:armed {
    -fx-background-color: #36729f,
    linear-gradient(#e1e3e4, #d0dce2),
    linear-gradient(#d2dde3 0%, #c3d8e2 49%, #abcfe3 50%, #96c3dc 100%);
}
